body, div, h1, h2, h3, p, button, header, nav, img{
    padding: 0;
    margin: 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

button:hover{
    cursor: pointer;
    background-color: #7BB2D9;
}

header{
    position: sticky;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    background-color: #839D9A;
    height: 7vh;
    width: 100%
}

header nav{
    display: flex;
    align-items: center; 
    width: max(40%, 400px);
    justify-content: space-around;
}

header nav button{
    background-color: #839D9A;
    border: solid #343330 2px;
    border-radius: 2em;
    color: #46351D;
    height: 2em;
    display: flex;
    align-items: center;
    width: auto;
    padding: 1em;
    font-size: max(1vw, 2vh);
}

.content{
    color:#46351D;
    height: 93vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr max(60%, 500px) 1fr ;
    overflow-y: scroll;
    overflow-x: hidden;
}

#content span:nth-child(1), #content span:nth-child(3){
    background-image: url('./assets/home/tacos.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: 60em;
    background-repeat: repeat;
}

.home{
    grid-area: 1 / 2 / 2 / 3;
    background-color:#BFD2BF;
    height: 100%;
    width: max(100%, 500px);
}

.home div.title{
    font-size: max(2em, 2vw);
    display: flex;
    justify-content: center;
    border: double #46351D 15px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    font-style: italic;
}

.home div.body{
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home div.body p{
    font-size: 2em;
    font-weight: 600;
}

.home div.body div:nth-child(2){
    margin-top: 1em;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3em;
}

.home div.body div:nth-child(2) img{
    width: 30em;
    border-radius: 10px;
}

.home div.body div:nth-child(2) p{
    width: 25em;
    align-self: center;
    font-weight: 200;
}

#tacos-specials{
    margin-top: 1em;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: max(2em, 1vw);
    font-style: oblique;
    gap: 10px;
}

#tacos-specials img{
    width: 12em;
}

.tacos-specials{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.menu{
    background-color: #BFD2BF;
    width: 100vw;
    height: 93vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    overflow-y: scroll;
    overflow-x: hidden;
    color: #46351D;
}

.section{
    font-size: 2em;
    margin-top: 1em;
    width: max(40vw, 450px);
    display:flex;
    justify-content: center;
    align-items: center;
    color: #46351D;
    border: solid #46351D 5px;
    border-radius: 1em;
    margin-right: auto;
    margin-left: auto;
    font-style: italic;
}

.items{
    background-color: #BFD2BF;
    width: max(80vw, 500px);
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
}

.item{
    background-color:#839D9A;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20px;
    width: 410px;
    height: max(30vh, 350px);
    border: solid #46351D 5px;
    border-radius: 1em;
    margin-left: 1em;
    margin-right: 1em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
}

.item p{
    font-size: 1.2em;
}

.item img{
    margin-top: 1em;
    height: 60%;
    border-radius: 1em;
}

.footer{
    height: 50px;
    width: 50px;
    background-color: #343330;
}

.items:nth-child(6){
    margin-bottom: 5em;
}

.about{
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.story{
    margin-top: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    width: max(80vw, 450px);
    flex-wrap: wrap;
    gap: 5em;
}

.story em{
    font-weight: 600;
}
.story div{
    color:#46351D;
    height: 100%;
    width: max(40vw, 450px);
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
    gap: 2em;
    border: solid #46351D 10px;
    border-radius: 1em;
    padding: 15px;
}

.story img{
    width: max(475px,50vh);
    border-radius: 1em;
}

.contact{
    color: #46351D;
    padding: 1em;
    margin-top: max(10vw, 4em);
    border: solid #46351D 10px;
    border-radius: 1em;
    display: flex;
    width: max(50vw, 430px);
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 3em;
}

.contact li{
    font-size: 1.3em;
}


/* https://coolors.co/46351d-646f4b-839d9a-7bb2d9-bfd2bf
 https://www.pexels.com/photo/cooked-food-on-the-wooden-tray-4955091/
 https://www.pexels.com/photo/cooked-food-on-brown-wooden-tray-7388095/
 https://www.pexels.com/photo/a-salad-in-a-paper-box-with-tomatoes-lettuce-and-avocado-17320990/
 https://www.pexels.com/photo/taco-with-beef-and-cheese-filling-on-black-surface-9993709/
 https://www.pexels.com/photo/top-view-of-a-delicious-dish-with-vegetables-sprinkled-with-sesame-14883831/
 https://www.pexels.com/photo/mexican-restaurant-27365297/
 https://www.pexels.com/photo/mouthwatering-tacos-in-macro-shot-photography-5454019/
 https://www.pexels.com/photo/bowl-with-soup-18688535/
 https://www.pexels.com/photo/plate-of-mexican-taquitos-17429144/
 https://www.pexels.com/photo/edamame-bean-risotto-in-ceramic-bowl-6544227/
 https://www.pexels.com/photo/a-close-up-shot-of-mixed-beans-in-a-bowl-5984480/
 https://www.pexels.com/photo/person-holding-a-tortilla-on-brown-wooden-plate-7613429/
 https://unsplash.com/photos/yellow-fruit-juice-on-glass-cup-pPhN8HFzkDE
 https://www.pexels.com/photo/drinks-supermarket-cans-beverage-3008/
 https://www.pexels.com/photo/man-cooking-meat-on-skewer-in-street-restaurant-13201061/

*/